{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/jsx-runtime",
    // "plugin:prettier/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "parser": "@typescript-eslint/parser",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react", "react-hooks", "@typescript-eslint", "prettier"],
  "rules": {
    "@typescript-eslint/no-explicit-any": ["off", { "ignoreRestArgs": false }],
    "@typescript-eslint/no-var-requires": 0
  },
  "overrides": [
    {
      "files": ["packages/**/*.ts", "packages/**/*.tsx"],
      "parserOptions": {
        "project": ["tsconfig.json"]
      }
    }
  ],
  "globals": {
    "React": true,
    "ReactDOM": true,
    "mountNode": true
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "alias": [["@", "./src"]]
    }
  }
}
